<div data-dismissible="true" data-theme="a" class="ui-corner-all">
    <div data-role="header" role="banner" data-theme="b" class="ui-header ui-bar-b">
        <h3>Report</h3>
    </div>
    <div role="main" class="ui-content">
        <canvas width="300" height="300"></canvas>
        <span style="display:none; position: absolute; top: 0; left: 0; background-color: white; border-radius: 5px; padding: 5px;" class="tooltip"></span>
    </div>
</div>