<div data-role="popup" data-dismissible="true" data-theme="a" class="ui-corner-all" style="display:relative">
    <canvas width="300" height="300"></canvas>
    <span style="display:none; position: absolute; top: 0; left: 0; background-color: white; border-radius: 5px; padding: 5px;" class="tooltip"></span>
</div>