<div data-role="popup" id="configEditor" data-theme="a" class="ui-corner-all">
    <div style="padding:10px 20px">
        <h3>Configuration</h3>
        <div class="ui-field-contain">
            <label for="date">Start Date</label>
            <input type="date" id="date" value="<%= PERIOD_START %>">
            <label for="period_length">Period</label>
            <input type="text" id="period_length" value="<%= PERIOD_LENGTH %>">
            <button type="button" id="btnSave" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check">Save Changes</button>
        </div>
    </div>
</div>
