<div data-dismissible="false" data-theme="b" class="ui-corner-all" style="min-width: 300px;">
    <div data-role="header" role="banner" data-theme="a" class="ui-header ui-bar-a">
        <h3>Reset Password</h3>
    </div>
    <div data-role="main" class="ui-content">
        <div class="ui-field-contain">
            <label for="email" class="ui-hidden-accessible">Username:</label>
            <input type="email" id="email" value="" placeholder="username" data-theme="a">
        </div>
        <div class="" id="errors">
        </div>
        <button type="button" id="btnRetrieve" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check">Reset Password</button>
        <a href="signup" id="createAccount">Sign up for an Account</a><br/>
    </div>
</div>
