<div id="transaction_table">
<table data-role="table" data-mode="columntoggle" class="ui-responsive table-stroke" style="width: 100%" id="tblTransactions">
    <thead>
        <tr>
            <th class="trDate" data-priority="1">Date</th>
            <th class="trCategory" data-priority="2">Category</th>
            <th class="trName" data-priority="3">Name</th>
            <th class="trAmount" data-priority="4">Amount</th>
            <!--th class="trTotal" data-priority="5">Total</th-->
        </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
        <tr>
        <th class="trTotal" id="total_calc" colspan="4"></th>
        </tr>
    </tfoot>
</table>
</div>
<div class="info_div">
</div>