<div data-dismissible="true" data-theme="b" class="ui-corner-all" style="min-width: 350px;">
    <div data-role="header" role="banner" data-theme="a" class="ui-header ui-bar-a">
        <h3>Setup Wizard</h3>
    </div>
    <div role="main" class="ui-content">
        <div data-role="tabs">
            <div data-role="navbar">
                <ul>
                    <li><a href="#income" data-theme="a" data-ajax="false" class="ui-btn-active">Income</a></li>
                    <li><a href="#housing" data-theme="a" data-ajax="false">Housing</a></li>
                </ul>
            </div>
            <div id="income" class="ui-content">
                Enter income here
            </div>
            <div id="housing" class="ui-content">
                Enter housing here
            </div>
        </div>
    </div>
    <div data-role="footer">
        <button type="button" data-mini="true" id="btnSaveSetup" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check">Save Changes</button>
        <button type="button" data-mini="true" id="btnSaveSetup" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check">Save Changes</button>
    </div>
</div>