<div data-dismissible="false" data-theme="b" class="ui-corner-all" style="min-width: 300px;">
    <div data-role="header" role="banner" data-theme="a" class="ui-header ui-bar-a">
        <h3>Register an Account</h3>
    </div>
    <div role="main" class="ui-content">
        <div class="ui-field-contain">
            <label for="registerEmail" class="ui-hidden-accessible">Username:</label>
            <input id="registerEmail" type="email" value="" placeholder="username" autocomplete="new-password" data-theme="a">
        </div>
        <div class="ui-field-contain">
            <label for="registerPassword" class="ui-hidden-accessible">Password:</label>
            <input id="registerPassword" type="password" value="" placeholder="password" autocomplete="new-password" data-theme="a">
        </div>
        <div class="" id="errors">
        </div>
        <button type="button" id="btnSignUp" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check">Register</button>
    </div>
</div>
