<div data-role="popup" data-dismissible="true" id="popupCash" data-theme="a" class="ui-corner-all">
    <div style="padding:10px 20px;">
        <h3>Transfer <%= total >= 0 ? "in to" : "out of" %> Savings</h3>
        <div>Total: <%= Math.abs(total).toCurrency() %></div>
    </div>
</div>