* {
    content-box: border-box;
    /* position: relative; */
    /*transition: all 0.2s ease;*/
    font-family: -apple-system, SF Pro Display, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

table {
    border-collapse: collapse;
    user-select: none;
}

td {
    cursor: pointer;
}



th, td {
    text-align: left;
    padding: 0.2em !important;
}

th.trAmount, th.trTotal, td.trAmount, td.trTotal {
    text-align: right;
}

#total_calc {
    border-top: 2px solid #333;
}

#main {
    overflow-y: scroll;
    padding: 0;
}

body { background-color: #e9e9e9; }

.ui-title {
    margin: 0 10px !important;
}

.ui-timespan-invalid {
    background: url('/images/underline.gif') bottom repeat-x !important;
}

#tblTransactions span[aria-label]:hover:after {
    content: attr(aria-label);
    position: absolute;
    top: 1em;
    left: 2.5em;
    border-radius: 5px; 
    padding: 5px;
    display: block;
    z-index: 10000;
    white-space: nowrap;
}

.wizardScroll {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    z-index: 10000;
}

.split-custom-wrapper {
    /* position wrapper on the right of the listitem */
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

.split-custom-button {
    position: relative;
    float: right;   /* allow multiple links stacked on the right */
    height: 100%;
    margin:0;
    min-width:3em;
    /* remove boxshadow and border */
    border:none;
    moz-border-radius: 0;
    webkit-border-radius: 0;
    border-radius: 0;
    moz-box-shadow: none;
    webkit-box-shadow: none;
    box-shadow: none;
}

.split-custom-button span.ui-btn-inner {
    /* position icons in center of listitem*/
    position: relative;
    margin-top:50%;
    margin-left:50%;
    /* compensation for icon dimensions */
    top:11px; 
    left:-12px;
    height:40%; /* stay within boundaries of list item */
}

.ui-popup-container .ui-footer {
    padding-left: 7px;
    padding-right: 7px;
}

.calender-table {
    width: 100%;
    border-collapse: collapse;
}
.calender-table td {
    text-align: center;
}

.calender-table td.calender-day0 {
    border-left: 0px;
}

.calender-table td.calender-day6 {
    border-right: 0px;
}

.calender-table td.calender-wk0 {
    border-top: 0px;
}

.calender-table td.calender-wk5 {
    border-bottom: 0px;
}

/* Sticky table headers for transaction_list and info_div */
#transaction_table thead th {
    position: -webkit-sticky; 
    position: sticky; 
    top: 0; 
    z-index: 2; 
    background-color: #e9e9e9; 
}

.info_div thead th {
    position: -webkit-sticky; 
    position: sticky; 
    top: 0; 
    z-index: 2; 
    background-color: #e9e9e9; 
}


/* Most desktops - hover: hover means browsers with mice */
@media only screen and (hover: hover) {
    #btnEditTransaction {
        display: none;
    }
}

@media only screen and (min-device-width: 1024px) {
    #main {
        display: flex;
        align-items: flex-start;
    }
    
    #transaction_table {
        width: calc(100% - 300px);
    }

    #transaction_table {
        width: calc(100% - 300px);
    }
    
    #footer_info {
        display: flex;
        flex-direction: row;
    }
    
    #chart_div {
        /*width: calc(50% - 10px);*/
        width: 100%;
        height: 200px;
        margin: auto 5px;
    }
    
    #footer_info .info_div {
        display: none;
    }
    
    .info_div {
        width: 300px;
        padding-left: 5px;
        user-select: none;
        overflow-y: scroll;
        max-height: 2000px;
    }
    
    .info_div table {
        width: calc(100% - 8px);
        border-collapse: collapse;
    }
    
    .info_div td {
        /* background-color: #ccc; */
        border: 1px solid black;
    }

    #tblTransactions span[aria-label] {
        position: relative;
    }
    
    #popupChecks-popup {
        width: calc(100% - 100px);
    }
    
    #popupChecks td, #popupChecks th {
        text-align: left;
    }
}

/* Large Mobile Devices  */
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (min-device-height: 897px) {
    #footer_info {
        display: flex;
        flex-direction: row;
    }

    #tblTransactions span[aria-label] {
        position: relative;
    }
    
    #chart_div {
        width: calc(50% - 10px);
        height: 200px;
        margin: auto 5px;
    }
    
    #main .info_div {
        display: none;
    }
    
    .info_div {
        height: 200px;
        width: calc(50% - 10px);
        overflow-x: hidden;
        overflow-y: scroll;
        margin: auto 5px;
        padding: 4px;
    }
    
    .info_div table {
        width: calc(100% - 8px);
        border-collapse: collapse;
    }
    
    .info_div td {
        /* background-color: #ccc; */
        border: 1px solid black;
    }
    
    #popupChecks-popup {
        width: calc(100% - 100px);
    }
    
    #popupChecks td, #popupChecks th {
        text-align: left;
    }
}

/* Small Mobile Devices */
@media only screen and (max-device-width: 812px) and (max-device-height: 896px) {
    #footer_info {
        display: none;
    }
    
    #transaction_table {
        width: 100%;
    }
    
    .info_div {
        display: none;
    }
    
    #main .trDate, #searchTable .trCategory {
        display: none;
    }
    
    #main td, #searchTable td {
        font-size: 0.85em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    #main .trName, #searchTable .trName {
        width: 50%;
    }
    
    #main .trAmount, #searchTable .trAmount {
        width: 25%;
    }

    #tblTransactions span[aria-label]:hover:after {
        top: 0em;
        left: 0em;
        width: 100%;
        border-radius: 5px; 
        padding: 5px;
        display: block;
        z-index: 10000;
        white-space: nowrap;
    }
}

/* Small Mobile Devices */
@media only screen and (max-device-width: 400px) {
    #transaction_table {
        width: 100%;
    }

    #footer_info {
        display: none;
    }
    
    #main .trDate {
        display: none;
    }
    
    #main td, #searchTable td {
        font-size: 0.85em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    #main .trCategory, #searchTable .trCategory {
        display: none;
    }
    
    #main .trName, #searchTable .trName {
        width: 50%;
    }
    
    #main .trAmount, #searchTable .trAmount {
        width: 25%;
    }

    #btnReport {
        display: none;
    }

    #btnToday {
        display: none;
    }

    #tblTransactions span[aria-label]:hover:after {
        top: 0em;
        left: 0em;
        width: 100%;
        border-radius: 5px; 
        padding: 5px;
        display: block;
        z-index: 10000;
        white-space: nowrap;
    }
}
